## 2010's World Cup Database

In [2]:
# The code was removed by Watson Studio for sharing.

       Atleta      Team    Position  Time  Shots  Passes  Tackles  Saves
0      Abdoun   Algeria  Midfielder    16      0       6        0      0
1         Abe     Japan  Midfielder   351      0     101       14      0
2      Abidal    France    Defender   180      0      91        6      0
3  Abou Diaby    France  Midfielder   270      1     111        5      0
4   Aboubakar  Cameroon     Forward    46      2      16        0      0